*{
    font-family: "Times New Roman";
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}
.clear{
    clear: both;
}
.container{
    width: 1250px;
    background: #F7F7F7;
}
.header{
    height: 37px;
    background: #579C00;
}
.header__nav{
    margin-left: 180px;
    display: inline-block;
    float: left;
}
.header__nav_list{
    list-style-type: none;
    display: inline-block;
    padding-left: 10px;
}
.header__nav_href{
    text-decoration: none !important;
    color: #fff;
    line-height: 30px;
    text-align: center;
}
.header__nav_list :hover{
    background: #fff;
    color: #579C00;
    border-bottom-left-radius:  10%;
    border-bottom-right-radius: 10%;
}
.icon_size{
    width: 16px;
    height: 16px;
    display: inline-block;
}
.btn__color{
    color: #579C00;
    background: #fff;
    float: right;

}
.botton{
    margin-left: 280px;
}
